/* SPDX-FileCopyrightText: Public Domain */
/* SPDX-License-Identifier: CC0-1.0 */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/Nunito-Regular.woff2') format('woff2'), url('fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('fonts/Raleway-Regular.woff2') format('woff2'), url('fonts/Raleway-Regular.ttf') format('truetype');
}

body {
  font-family: Nunito, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, Verdana, sans-serif;
}

a:active,
a:focus,
a.bold:active,
a.bold:focus,
a.section:active,
a.section:focus {
  outline: 2px dotted black;
  outline-offset: 0.25rem;
}

dl {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

dl.tag a:not(.normal) {
  font-weight: 800;
  text-decoration: underline;
}

dl.tag a.normal {
  font-weight: 600;
}

dl.parameters dt {
  color: unset;
  font-weight: 600;
}

p.hint_directive {
  color: #ff6347;
}

span.pascal_compiler_comment {
  color: #bc8f8f;
}

span.pascal_comment {
  color: #679d47;
}

span.pascal_numeric,
span.pascal_hex,
span.pascal_keyword {
  color: #cd6000;
}

div#tipue_search_results_count,
div#tipue_search_error {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  * {
    color: #ccc;
    background-color: #212529;
  }

  dl.tag * {
    color: inherit;
  }

  tr.list,
  .offcanvas-md,
  .bg-body-tertiary  {
    background-color: #212529 !important;
  }

  div.navigation {
    border: 4px solid #333 !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28206, 206, 206, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

  .offcanvas-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%28206, 206, 206, 0.75%29'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
  }

 .navbar-toggler {
    border-color: #cecece;
  }

  pre,
  pre.longcode,
  dl.tag * {
    background-color: inherit;
  }

  input,
  ul#tipue_search_foot_boxes li[role="navigation"] a.tipue_search_foot_box {
    color: #ccc !important;
  }

  input,
  a.section,
  ul#tipue_search_foot_boxes li[role="navigation"].current {
    background-color: #333 !important;
  }

  input#tipue_search_button,
  ul#tipue_search_foot_boxes li[role="navigation"] a.tipue_search_foot_box {
    background-color: #454556 !important;
  }

  a:active,
  a:focus,
  a.bold:active,
  a.bold:focus,
  a.section:active,
  a.section:focus {
    outline-color: white;
  }

  a:active,
  a:focus,
  a:link,
  a:hover,
  a:visited,
  a.bold:active,
  a.bold:focus,
  a.bold:link,
  a.bold:hover,
  a.bold:visited,
  a.section:active,
  a.section:focus,
  a.section:link,
  a.section:hover,
  a.section:visited,
  p.unitlink a:link,
  p.unitlink a:visited,
  a.bold code,
  a.bold:visited code {
    color: #a7c2f8 !important;
  }

  dl.tag a {
    color: inherit !important;
  }

  .offcanvas-body .nav-link:active,
  .offcanvas-body .nav-link:focus,
  .offcanvas-body .nav-link:link,
  .offcanvas-body .nav-link:hover,
  .offcanvas-body .nav-link:visited {
    color: #ccc !important;
    text-decoration: none;
  }

  a.section:hover,
  .offcanvas-body .nav-link:hover {
    background-color: rgba(128, 128, 128, 0.45) !important;
  }

  pre,
  pre.longcode {
    border-color: rgba(240, 240, 240, 0.45);
  }

  table.wide_list td,
  table.wide_list th {
    border-color: #333;
  }

  span.pascal_keyword {
    color: #f08080;
  }

  span.pascal_numeric,
  span.pascal_hex {
    color: #ffc600;
  }

  span.pascal_string {
    color: #bf8ce1;
  }

  code {
    color: #d1b3f5;
  }

  ::-webkit-scrollbar {
    width: 0.4125rem;
    height: 0.3125rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #333;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    outline: 0.0625rem solid #555;
  }
}

@media only screen and (max-width: 600px) {
  .copyright div {
    font-size: 2.125vmin;
  }

  pre,
  pre.longcode {
    white-space: pre-wrap;
  }
}